.Control{
    margin: 10px;
    align-self:center;
    animation: controlAnimation 600ms linear 0s 1 forwards;
}

@keyframes controlAnimation{
    0%{
        transform: translateX(40%);
    }
    
    50%{
        transform: translateX(20%);
    }

    100%{
        transform: translateX(0%);
    }
}

.Push, .Pop{
    padding: 10px;
}

.Push button, .Pop button{
    height: 43px;
    width: 70px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: 3px white solid;
    border-radius: 15px;
    font-size: 15px;
}

.Push input{
    outline: none;
    height: 40px;
    width: 130px;
    color: white;
    margin-left: 10px;
    font-size: 1rem;
    background-color: rgb(20, 20, 20);
    border-width: 0px 0px 1px 0px ;
    border-style: solid;
    border-color: white;
}

@media(max-width: 450px){
    .Control{
        margin: 6px;
    }

    .Push button, .Pop button{
        height: 30px;
        width: 50px;
        border-radius: 10px;
    }
    
    .Push input{
        height: 30px;
        width: 100px;
    }
}